<div class="card">
  <div class="card-header">
    Add New FAQ Entry
  </div>
  <div class="card-block">
    <form (submit)="addQuestion()">
      <div class="form-group">
        <label for="q">Question</label>
        <input class="form-control" type="text" required minlength="4" [(ngModel)]="q" name="q" id="q" #name="ngModel">
      </div>
      <div class="form-group">
        <label for="a">Answer</label>
        <input class="form-control" type="text" [(ngModel)]="a" name="a" id="a">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>
